<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.heweiming.freedom.shiro.mapper.SysLoginLogMapper">
  <resultMap id="BaseResultMap" type="cn.heweiming.freedom.shiro.model.SysLoginLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="login_ip" jdbcType="VARCHAR" property="loginIp" />
    <result column="login_state" jdbcType="VARCHAR" property="loginState" />
    <result column="login_browser" jdbcType="VARCHAR" property="loginBrowser" />
    <result column="screen_resolution" jdbcType="VARCHAR" property="screenResolution" />
    <result column="operating_system" jdbcType="VARCHAR" property="operatingSystem" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_login_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.heweiming.freedom.shiro.model.SysLoginLog">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_login_log (user_id, login_time, login_ip, 
      login_state, login_browser, screen_resolution, 
      operating_system)
    values (#{userId,jdbcType=INTEGER}, #{loginTime,jdbcType=TIMESTAMP}, #{loginIp,jdbcType=VARCHAR}, 
      #{loginState,jdbcType=VARCHAR}, #{loginBrowser,jdbcType=VARCHAR}, #{screenResolution,jdbcType=VARCHAR}, 
      #{operatingSystem,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.heweiming.freedom.shiro.model.SysLoginLog">
    update sys_login_log
    set user_id = #{userId,jdbcType=INTEGER},
      login_time = #{loginTime,jdbcType=TIMESTAMP},
      login_ip = #{loginIp,jdbcType=VARCHAR},
      login_state = #{loginState,jdbcType=VARCHAR},
      login_browser = #{loginBrowser,jdbcType=VARCHAR},
      screen_resolution = #{screenResolution,jdbcType=VARCHAR},
      operating_system = #{operatingSystem,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, login_time, login_ip, login_state, login_browser, screen_resolution, 
    operating_system
    from sys_login_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, login_time, login_ip, login_state, login_browser, screen_resolution, 
    operating_system
    from sys_login_log
  </select>
</mapper>